<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์ม</title>
</head>
<body>
    <h1 style="color:yellowgreen;">แบบฟอร์มข้อมูล</h1>
    <p>นักเดินทาง เป็นตัวละครเอกที่ผู้เล่นสามารถเลือกเล่นในเกม Genshin Impact ในช่วงเริ่มต้นของเกม จะปรากฎพี่น้องฝาแฝดจากอีกโลกหนึ่งที่อยู่ระหว่างการผจญภัย ข้ามฟ้าข้ามทะเล ก้าวข้ามผ่านโลกต่าง ๆ มามากมาย ก่อนที่จะมายังดินแดนที่ชื่อว่า "Teyvat" คุณคิดว่าจะดำรงอยู่กับโลกนี้อย่างมีความสุข แต่คุณกลับตื่นขึ้นมาท่ามกลางอุกกาบาต พบเจอกับดินแดนที่ไม่คุ้นเคย ภัยพิบัติมากมายที่เข้ามา... คุณอยากจะออกจากที่นี่เพื่อมุ่งหน้าไปยังโลกต่อไป... แต่กลับมีเทพแปลกหน้ามาขวางพวกคุณเอาไว้ เทพที่ไร้ซึ่งความเปรอะเปื้อนล่องลอยบนท้องฟ้าของโลกที่แสนวุ่นวาย ก้มลงมองคุณ เทพพรากสายเลือดผู้เป็นครอบครัวและคุณเองก็ถูกร่ายผนึกให้เข้าสู่การหลับใหล เมื่อคุณตื่นขึ้นมาอีกครั้ง โลกใบนี้ก็ได้เปลี่ยนไปแล้ว ตรงหน้าไม่มีไฟแห่งสงครามและไม่มีโลกที่คุ้นเคยอีกต่อไป ตัวคุณนั้นหลับไปนานเพียงใด? ก็ไม่สามารถล่วงรู้ได้ ตัวคุณที่ถูกผนึกพลังตื่นขึ้นและพบกับ Paimon ที่กลายมาเป็นผู้ร่วมเดินทางไปตลอดการผจญภัยของคุณ</p>
    <hr>
    <a href="/">หน้าแรก</a>  
    <a href="/about">เกี่ยวกับเรา</a>
    <a href="/form">แบบฟอร์ม</a>        
</body>
</html>